<div class="row">
    <div class="col-12">
        <form>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Email:</span>
                <input type="text" class="form-control" placeholder="Email" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon2">Password:</span>
                <input type="text" class="form-control" placeholder="Password" aria-describedby="basic-addon2">
            </div>
        </form>
    </div>
</div>