<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <ul class="navbar-nav">
        <li class="Nav-item"><a href="#">Change country/region:</a></li>
    </ul>
    <ul class="navbar-nav">
        <li class="nav-item dropdown "><a href="#">Select a region</a></li>
        <ul class="dropdown-menu">
            <li class="dropdown-item"><a href="#">North America</a></li>
            <li class="dropdown-item"><a href="#">South America</a></li>
            <li class="dropdown-item"><a href="#">Latin America</a></li>
            <li class="dropdown-item"><a href="#">Europe</a></li>
            <li class="dropdown-item"><a href="#">Middle East</a></li>
            <li class="dropdown-item"><a href="#">Africa</a></li>
            <li class="dropdown-item"><a href="#">Asia</a></li>
            <li class="dropdown-item"><a href="#">Australia/Oceania</a></li>
        </ul>
        <li class ="nav-item dropdown"><a href="#">Select a country/region</a></li>
    </ul>
        <!--Divider-->
    <ul class="navbar-nav">
        <li class="Nav-item">© 2021 Porsche Cars North America, Inc. Legal notice. Privacy Notice. Accessibility Statement. </li>
        <li class="Nav-item"><a href="#"><button type="button" class="btn btn-dark">Contact Us</button></a></li>
        <li class="Nav-item"><a href="#"><button type="button" class="btn btn-dark">Recall Information</button></a></li>
        <li class="Nav-item"><a href="#"><button type="button" class="btn btn-dark">Do not sell my personal information</button></a></li>
    </ul>
</nav>