<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <ul class="navbar-nav">
        <li class="Nav-item"><a href="#">Change country/region:</a></li>
        <li class="nav-item dropdown "><a href="#">Select a region</a></li>
        <ul class="dropdown-menu">
            <li class="dropdown-item"><a href="#">North America</a></li>
            <li class="dropdown-item"><a href="#">South America</a></li>
            <li class="dropdown-item"><a href="#">Latin America</a></li>
            <li class="dropdown-item"><a href="#">Europe</a></li>
            <li class="dropdown-item"><a href="#">Middle East</a></li>
            <li class="dropdown-item"><a href="#">Africa</a></li>
            <li class="dropdown-item"><a href="#">Asia</a></li>
            <li class="dropdown-item"><a href="#">Australia/Oceania</a></li>
        </ul>
        <li class ="nav-item dropdown"><a href="#">Select a country/region</a></li>
        <!--Divider-->
        <li class="Nav-item">© 2021 Porsche Cars North America, Inc. Legal notice. Privacy Notice. Accessibility Statement. </li>
        <li class="Nav-item"><a href="#"><button type="button" class="btn btn-dark">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z"/>
              </svg>
              Contact Us
            </button></a>
        </li>
        <li class="Nav-item"><a href="#"><button type="button" class="btn btn-dark">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z"/>
            </svg>
              Recall Information
            </button></a>
        </li>
        <li class="Nav-item"><a href="#"><button type="button" class="btn btn-dark">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-compact-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z"/>
              </svg>
              Do not sell my personal information
            </button></a>
        </li>
    </ul>
</nav>