.btn {
    border-radius: 0px;
    margin-left:10px;
}

.title {
    font-size: 60px;
}

.paragraph {
    font-size: 20px;
}

.align-end {
    padding-top: 220px;
}

.card {
    border-radius: 0px;
    card-img-overlay-padding: 0px;
}