<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid container">
    <a class="navbar-brand top-left" routerLink="/home">Shopping Tools</a>
    <div class="collapse navbar-collapse offset-top-left" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active container" aria-current="page" routerLink="/compare">
            <img class="crop" src="./assets/shoppingCompare.jpg">
            <div class="bottom-left" style="color: white">
              <svg style="color: Red" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-chevron-compact-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z" />
              </svg>
              Compare
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link container" routerLink="/build">
            <img class="crop" src="./assets/shoppingBuild.jpg">
            <div class="bottom-left" style="color: white">
              <svg style="color: Red" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z" />
                <path fill-rule="evenodd"
                  d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z" />
              </svg>
              Build your Porsche
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link container" routerLink="/offer">
            <img class="crop" src="./assets/shoppingOffer.jpg">
            <div class="bottom-left" style="color: white">
              <svg style="color: Red" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-chevron-compact-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z" />
              </svg>
              Current Offers
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link container" routerLink="/porschefinancialservices">
            <img class="crop" src="./assets/shoppingFinancial.jpg">
            <div class="bottom-left" style="color: white">
              <svg style="color: Red" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-chevron-compact-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z" />
              </svg>
              Financial Services
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
